@import url('https://fonts.googleapis.com/css?family=Lato|Shadows+Into+Light');

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Lato', sans-serif;
    /* height: 100%; */
    color: #ccc1b5;
    font-size: 16px;
}

#wrapper {
    position: fixed;
    background: url(img/bill-burr-1920x1080.jpg) top right no-repeat fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#main {
    max-width: 765px;
    margin-left: 15%;
}

#title {
    margin: 2em 0 1em 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 4em;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
}

#img-caption {
    font-style: italic;
    padding: 0.5em;
    margin: 0 0 1em 0;
    background: #3f3c38;
    border-left: 10px solid #353331;
}

@media (max-width: 1440px) {
#main {
    margin-left: 5%;
}
}

@media (max-width: 1260px) {
#main {
    max-width: 600px;
    margin-left: 2%;
}
}