@import url('https://fonts.googleapis.com/css?family=Lato|Shadows+Into+Light');

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Lato', sans-serif;
    color: #ccc1b5;
    font-size: 18px;
    line-height: 1.3em;
    height: 100%;
    width: auto;
    background: url(img/bill-burr-1920x1080.jpg) 70% 50% no-repeat fixed;
    background-size: cover;
}

#main {
    max-width: 765px;
    margin-left: 10%;
    padding: 1em;
}

#title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 4em;
    padding-top: 1em;
    height: 1.5em;
    color: #da6d2f;
    border-bottom: 3px dashed #ccc1b5;
}

h1, h2, h3, h4, p {
    margin-bottom: 1em;
}

li {
    margin-bottom: 1em;
}

a {
    color: #da6d2f;
    text-decoration: none;
    border-bottom: 1px dotted #da6d2f;
}

a:hover {
    border: none;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
}

#img-caption {
    font-style: italic;
    padding: 0.5em;
    margin: 0 0 1em 0;
    max-width: 100%;
    background: #3f3c38;
    border-left: 10px solid #353331;
}

.img-left {
    float: left;
    padding: 0 20px 20px 0;
}

.img-right {
    float: right;
    padding: 0 0 20px 20px;
}

.img-300 {
    max-width: 300px;
}

#footer {
    clear: both;
    padding: 2em;
    margin-top: 5em;
    border-top: 2px dashed #353331;
}

.copyright {
    font-style: italic;
    color: #ccc1b5;
    font-size: 14px;
}

@media (max-width: 1439px) {
#main {
    margin-left: 5%;
}
}

@media (max-width: 1110px) {
#main {
    max-width: 60%;
}
.img-left, .img-right {
    float: none;
    padding: 0 20px 20px 0;
    display: block;
}
.img-300 {
    max-width: 300px;
}
}

@media (max-width: 732px) {
#title {
    font-size: 3em;
}
}

@media (max-width: 812px) {
body, html {
    background-position: left bottom;
}
#main {
    max-width: 90%;
    margin: auto;
}
}

@media only screen
    and (min-width: 375px)
    and (max-width: 1080px)
    and (orientation: portrait) {
body, html {
    background-position: left bottom;
    height: 100vh;
}
#main {
    max-width: 90%;
    margin: auto;
}
#image {
    display: block;
    min-width: 100%;
    height: auto;
}
.img-300 {
    display: block;
    min-width: 70%;
    height: auto;
    margin: auto;
}
}