@media only screen 
            and (min-width: 340px)
            and (max-width: 1080px)
            and (orientation: portrait) {
.slogan {
  position: static;
  margin: 0 auto;
  text-align: center;
}

.slogan h1 {
  font-size: 3em;
  text-align: center;
}

#header-img {
  margin: auto;
  padding: 5em 0;
}

#header {
  overflow: hidden;
}

#nav-bar {
  display: none;
  height: 1px;
  width: 1px;
  position: absolute;
  right: -9999px;
}

.scroll-navbar {
  display: none;
  height: 1px;
  width: 1px;
  position: absolute;
  right: -9999px;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 50px;
  z-index: 999;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #eeeeee;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

#assortment {
  max-width: 95%;
}

.sortImg {
  max-width: 100%;
  padding: 10px 85px;
}

.sortImg img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sortItem {
  flex-direction: column;
  align-content: center;
}

.reverseFlex {
  flex-direction: column;
}

.reverseFlex .sortDesc {
  margin: 0;
}

.sortDesc {
  margin: 0;
}

.sortDesc h2 {
  margin-top: 1em;
  text-align: center;
}

#news {
  padding: 1em;
}

.postImg {
  min-width: 100%;
  padding: 0 0 2em;
}

.postPreview {
  flex-direction: column;
  max-width: 95%;
}


#about {
  flex-direction: column;
}

.title {
  width: 100%;
  margin-bottom: 3em;
}

.aboutDesc {
  padding: 0 1em;
}

#contact {
  flex-direction: column;
  align-content: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

#contact h2 {
  margin-bottom: 1em;
}

#form {
  margin-top: 2em;
}

}