@import url('https://fonts.googleapis.com/css?family=Lato');
@import url(screen.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#header {
    background: url(img/main-bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#header-img {
    width: 175px;
    height: auto;
    display: block;
    margin: auto;
    padding: 70px 0;
}

#nav-bar {
    text-align: right;
    height: 3em;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 1em;
    position: fixed;
    box-shadow: 0 0 30px -10px #979797;
}

nav#nav-bar.shrink {
    height: 35px;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    right: 1em;
}

#nav-bar li {
    margin-right: 2em;
    text-transform: uppercase;
    padding: 1em;
}

#nav-bar a {
    text-decoration: none;
    /* font-weight: 500; */
    color: #4e4c4c;
    transition: 500ms;
}

#nav-bar a:hover {
    color: #aa3d3d;
    transition: 500ms;
}

#signup {
    position: absolute;
    top: 50%;
    right: 30%;
}

#email {
    font-size: 1.3em;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}

#submit {
    background: #f44336;
    border: none;
    font-size: 1.2em;
    /* text-transform: uppercase; */
    padding: 0.5em;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background: #df3226;
    transition: 500ms;
}