@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #555555;
}

.wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  background: url(../img/header-bg.jpg) no-repeat left;
  height: 100vh;
}

nav {
  background: #3a3a3a;
}

nav h1 {
  color: #eeeeee;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 100;
}

nav div.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding: 0 10px;
}

nav ul li:last-child {
  padding-right: 0;
}

nav a {
  color: #eeeeee;
  text-decoration: none;
}

nav a:hover {
  color: #f44da9;
  border-bottom: 2px solid #f44da9;
  transition: 50ms;
  padding-bottom: 5px;
}

.banner ul {
  color: #1b1b1b;
  position: absolute;
  top: 40%;
  left: 50%;
  list-style-type: none;
  font-size: 2.5em;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

.banner ul li {
  padding: 5px 0;
}

.banner ul li:first-child {
  font-size: 0.7em;
}

.banner ul li:last-child {
  font-size: 0.5em;
  font-style: italic;
}

#about {
  display: flex;
  flex-basis: 50%;
}

.about-pic {
  background: #eeeeee;
  flex-basis: 50%;
  max-height: 403px;
}

.about-pic img {
  display: block;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.about-desc {
  flex-basis: 30%;
  padding: 0 30px;
}

.about-desc h3, .about-desc h2, .about-desc p {
  margin-bottom: 20px;
}

.about-desc p {
  line-height: 1.6em;
}

.about-desc h3 {
  font-weight: 100;
  font-style: italic;
}

.about-bars ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #979797;
}

.bar {
  background-color: #eeeeee !important;
  margin-bottom: 15px;
}

.bar-blue {
  background-color: #009dff !important;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#portfolio h2 {
  text-align: center;
  margin: 100px 0;
}

#portfolio ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#portfolio ul li {
  padding: 10px;
  position: relative;
  flex-shrink: 1;
}

#potfolio ul li img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-desc {
  background-color: rgba(0, 175, 255, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.portfolio-desc a {
  color: #fff;
}

.portfolio-desc a:hover {
  font-size: 1.2em;
  transition: 200ms;
}

.portfolio-desc i {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}

.portfolio-desc li:first-child {
  font-size: 2em;
}

.portfolio-desc:hover {
  opacity: 1;
}

#testimonials h2 {
  text-align: center;
  margin: 100px 0;
}

#testimonials div.wrapper {
  display: flex;
}

.test {
  position: relative;
  padding-right: 20px;
  max-width: 50%;
}

.test img {
  display: block;
  max-width: 150px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.test p {
  background: #fafafa;
  padding: 20px;
  padding-left: 125px;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 75px;
}

.test h4, .test a {
  display: block;
  margin-left: 175px;
  line-height: 2em;
}

.test a {
  color: #009dff;
  text-decoration: none;
}

.test a:hover {
  color: #e14df4;
}

#contact {
  background: #fafafa;
  margin: 100px 0 50px 0;
  padding: 50px 10px;
}

.form h2 {
  margin-bottom: 50px;
}

.form input, .form textarea {
  display: block;
  width: 100%;
  background: #fafafa;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  font-size: 1.01em;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  color: #3a3a3a;
  padding: 5px;
}

::placeholder {
  color: #9a9a9a;
}

input[type="submit"] {
  background-color: #009dff;
  border: none;
  color: #fff;
  min-height: 40px;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
  font-size: 0.8em;
  box-shadow: 0 5px 10px 0 rgba(0, 157, 255, 0.5);
  transition: 250ms;
}

input[type="submit"]:hover {
  background-color: #1da8ff;
  box-shadow: none;
  transition: 500ms;
}

.footer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.footer h2 {
  min-width: 50%;
}

.footer ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  font-size: 2em;
  justify-content: flex-end;
}

.footer ul li {
  padding: 10px;
}

.footer ul li a {
  color: #f44da9;
  transition: 250ms;
}

.footer ul li a:hover {
  color: #e14df4;
  transition: 250ms;
}

.copyright {
  text-align: center;
  padding: 20px;
  color: #9a9a9a;
  font-size: 0.9em;
}

@media screen and (max-width: 836px) {

#about {
  flex-direction: column-reverse;
}

.about-pic {
  margin-top: 100px;
}

#testimonials div.wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test {
  min-width: 90%;
  margin-bottom: 50px;
}

}